.wrapper
  .side-bar
    .side-bar__user-name
      .side-bar__user-name__box
        .side-bar__user-name__box__logo
          = current_user.name
        .side-bar__user-name__box__icon
          = link_to edit_user_path(current_user) do
            =link_to new_group_path,class: 'edit' do
              =icon('far', 'edit') 
            =link_to '#',class: 'cog' do
              =icon('fas', 'cog')
    .side-bar__group-list
      - current_user.groups.each do |group|
        .side-bar__group-list__group
          = link_to group_messages_path(group) do
            .side-bar__group-list__group__group-name
              =group.name
            .side-bar__group-list__group__message
              = group.show_last_message

