.wrapper
  .side-bar
    .side-bar__user-name
      .side-bar__user-name__box
        .side-bar__user-name__box__logo
          = current_user.name
        .side-bar__user-name__box__icon
          = link_to edit_user_path(current_user) do
            %a.side-bar__user-name__box__icon__edit{href: '#'}=icon('far', 'edit') 
            %a.side-bar__user-name__box__icon__cog{href: '#'}=icon('fas', 'cog')
    .side-bar__group-list
      .side-bar__group-list__group-name
        techcamp
      .side-bar__group-list__message
        まだメッセージはありません

