
* {
  box-sizing: border-box;
  
  }

.wrapper{
  display: flex;
  .side-bar{
    width:300px;
    height:100vh;
    background-color:#2f3e51;
    box-sizing: border-box;
    &__user-name{
      padding-left:20px;
      height:100px;
      background-color:#253141;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      &__box{
        width:300px;
        height:20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
          &__logo{
            font-size:16px;
            color:#ffffff;
          }
          &__icon{
            display: flex;
            align-items: center;
            padding-right:20px;
              .edit{
                padding-right:5px;
                color:#ffffff;
              }
              .cog{
                color:#ffffff;
              }
          }
      }
    }
    &__group-list{
      height:calc(100vh - 100px);
      margin: 20px 20px 0 20px;
      color:#ffffff;
      box-sizing: border-box;
      &__group{
        a{
          text-decoration: none;
          color:#ffffff;
          .side-bar__group-list__group__group-name{
            margin-bottom:5px ;
          }
          .side-bar__group-list__group__message{
            font-size:11px;
            margin-bottom:40px;
          }
        }
      }
    }
  }
  .chat-main{
    width: calc( 100vw - 300px );
    height:100vh;
    background-color:#ffffff;
    box-sizing: border-box;
      &__group-info{
        background-color: #ffffff;
        height:100px;
        width:calc( 100vw - 380px );
        border-bottom:1px solid #eeeeee;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        margin-left:40px;
        &__group{
          margin:35px 0 0 0;
          &__group-name{
            color:#333333;
            font-size:20px;
            margin-bottom:15px;
          }
          &__member-name{
            color:#999999;
            font-size:12px;
          }
        }
        &__edit{
          padding:0 20px;
          margin-top:28px;
          height:40px;
          width:72px;
          color:#38aef0;
          font-size:16px;
          border:1px solid #38aef0;
          display: flex;
          align-items: center;
          .text-deco-none{
            text-decoration: none;
            color:#38aef0;
          }
        }
      }
      &__message-list{
        background-color: #fafafa;
        height: calc(100vh - 100px - 90px);
        box-sizing: border-box;
        padding-left:40px;
        overflow: scroll;
        padding-top:30px;
        &__Chat{
          box-sizing: border-box;
          &__chat1{
            &__user{
              display: flex;
              margin-bottom:12px;
              &__name{
                font-size:16px;
                color: #333333;
                font-weight: bold;
              }
              &__date{
                font-size:12px;
                color:#999999;
                padding-left:5px;
              }
            }
            &__text{
              font-size: 14px;
              color:#434A54;
              margin-bottom: 60px;
            }
          }
        }
      }
    &__message-form{
      background-color: #d2d2d2;
      height:90px;
      display: flex;
      align-items: center;
      padding:0 40px; 
      width:100%;
      box-sizing: border-box;
      .form{
        display: flex;
        padding:10px 0;
        position:relative;
        width: 100%;
        .text{
          margin-right:15px;
          height:50px;
          width:100%;
          line-height:50px;
          padding-left:30px;
          overflow:hidden;
        }
        .post{
          position: absolute;
          text-align: left;
          align-items: center;
          top:20px;
          right:120px;
          .icon{
            font-size:25px;
            
          }
          .input{
            display: none;
          }
        }
      }
      .send{
        width:100px;
        height:50px;
        background-color:#38AEF0;
        color:white;
        border:none;
      }
    }
  } 
}